<h1>Search</h1>
<form (ngSubmit)="search()">
    <input type="text" placeholder="Keyword" [(ngModel)]="keyword" name="keyword" required><br>
    <input type="submit" value="Search">

</form>
<!-- <button (click)="toggle()"></button> -->
<div *ngIf="displaySearch">
    <ul *ngIf="songs">


        <li *ngFor="let song of songs">
            <div *ngIf="song != null">
                <strong>
                    <p class="title">Title: {{ song.title }}</p>
                </strong>
                <p class="artist">Artist: {{ song.artist }}</p>
                <p class="album">Album: {{ song.album }}</p>
                <p class="year">Year: {{ song.year }}</p>
                <p class="comment">Comment: {{ song.comment }}</p>
                <p class="genre">Genre: {{ song.genre }}</p>
                <button (click)="getReviews(song.title)">View Reviews</button>
                <div *ngIf="loggedIn">
                    <button (click)="addReview(song.title)">Add Review</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="displayReviews">
    <button (click)='back()'>Back</button>
    <div *ngIf="loggedIn">
        <button (click)="addReview(song.title)">Add Review</button>
    </div>
    <ul *ngIf="reviews">

        <li *ngFor="let review of reviews">
            <p class="Review">Review: {{ review.review }}</p>
            <p class="Rating">Rating: {{ review.rating }}</p>
            <p class="Username">Username: {{ review.username }}</p>
        </li>
    </ul>
    <div *ngIf="reviews[0] == null">
        <p class="error">There are no reviews for this song</p>
    </div>
</div>
